In [ ]:
import pandas as pd
import numpy as np
import time
import datetime

In [ ]:

df = pd.read_csv(r"temp_cleaned_v3_withzero.csv",parse_dates=['Datetime'])

In [ ]:
pd.set_option('display.float_format', str)

In [ ]:
df.head(20)

In [ ]:
df.loc[0,'Datetime'] #this data is read as a string

In [ ]:
df['Datetime']=pd.to_datetime(df['Datetime'], infer_datetime_format=True)

In [ ]:
df['Datetime']

In [ ]:
df.loc[0,'Datetime'].day_name() #find out the day of the datetime

In [ ]:
df['Datetime'].dt.day_name()

In [ ]:
df['DayOfWeek'] = df['Datetime'].dt.day_name()

In [ ]:
#get earliest date
df['Datetime'].min()

In [ ]:
#get latest date
df['Datetime'].max()

In [ ]:
df['Datetime'].max() - df['Datetime'].min()

In [ ]:
#get data from year 2022
filt = (df['Datetime'] >= '2022') 
df.loc[filt]

In [ ]:
#average temperature on a give day
# df.groupby(['DayOfWeek', df['Datetime'].dt.date]).mean()

In [ ]:
df.set_index('Datetime',inplace=True)

In [ ]:
df

In [ ]:
df['2022']

# df.loc['2022']

In [ ]:
df['2021':'2022']

In [ ]:
temp_series= df['2021':'2022']['Temperature']
temp_series

In [ ]:
df['2021':'2022']['DayOfWeek']

In [ ]:
df['2021-01':'2022-01']['Temperature'].mean()

In [ ]:
df['2021-01':'2022-01']['Temperature'].max()

In [ ]:
temp_series_day = temp_series.resample('D').mean()
temp_series_day

In [ ]:
temp_series1 = temp_series.interpolate()

In [ ]:
%matplotlib inline

In [ ]:
temp_series1.plot()

In [ ]:
temp_series_day.plot()